
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SeductX</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <

    <!-- script
    ================================================== -->

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <!-- <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->

<!-- cancel form -->
<div class="popup" data-popup="popup-2">
    <div class="popup-inner">

    <div class="cancel-box">
       <h2 class="booking-title text-center text-pink mb-40">What is the reason of cancelling?</h2>
            <div class="screen__container">
            <label class="radio-item">Client did not respond after i arrived
              <input type="radio" checked="checked" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="radio-item">I am not available
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="radio-item">Location is too far
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="radio-item">Unable to verify/check client
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="radio-item">This is duplicate booking
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="radio-item">Unable to contact client
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="radio-item">Cannot accommodate extra request(s)
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="radio-item">Client cancelled before i arrived
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="radio-item">Client cancelled after i arrived
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
            <label class="radio-item">Other
              <input type="radio" name="radio">
              <span class="checkmark"></span>
            </label>
        </div>
        <div class="btn-sec d-flex justify-around">
            <button class="btn btn-previous" data-popup-close="popup-2"> Abort </button>
            <a href=""><button class="btn btn--primary btn-next" data-popup-close="popup-2"> Ok </button></a>
        </div>
    </div>
    </div>

    <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
</div>
<!-- cancel form -->

<!-- support form -->
<div class="popup" data-popup="popup-3">
    <div class="popup-inner">

    <div class="cancel-box">
       <h2 class="booking-title text-center text-pink mb-40"> Send your message</h2>
            <div class="screen__container">
                <label for="">Your message</label>
                <textarea class="full-width" id="" rows="8" placeholder="comment here..">
                </textarea>
        </div>
        <div class="btn-sec d-flex justify-around">
            <button class="btn btn-previous" data-popup-close="popup-3"> Cancel </button>
            <a href=""><button type="Submit" class="btn btn--primary btn-next" data-popup-close="popup-3"> Submit </button></a>
        </div>
    </div>
    </div>

    <a class="popup-close" data-popup-close="popup-3" href="#">x</a>
</div>
<!-- support form -->

    <!-- header
    ================================================== -->
      <app-navigation></app-navigation>
    <!-- end header -->


    <!-- home
    ================================================== -->
    <section id="" class="s-home mini-slide search-bg">

        <div class="shadow-overlay"></div>
            <div class="row home-content__main">
                <div class="col-twelve text-center mb-40">
                    <h1>
                       Premium Escort
                    </h1>
                    <p class="text-white"> Access to premium account benefits   </p>
                </div>

        </div> <!-- end home-content -->

    </section> <!-- end s-home -->

<section id="features" class="s-features target-section">

        <div class="row section-header has-bottom-sep">
            <div class="col-full">
                <h1 class="display-2 mt-md-50rspn">
                    You can use more benefits for free
                </h1>
                <p class="lead">
                    Et nihil atque ex. Reiciendis et rerum ut voluptate. Omnis molestiae nemo est.
                    Ut quis enim rerum quia assumenda repudiandae molestiae cumque qui. Amet repellat
                    omnis ea.
                </p>
            </div>
        </div> <!-- end section-header -->

        <div class="row features block-1-3 block-m-1-2">

            <div class="col-block item-feature">
                <div class="item-feature__icon">
                    <i class="fa fa-credit-card"></i>
                </div>
                <div class="item-feature__text">
                    <h3 class="item-title">Clients pay booking fees direct to you</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>

                </div>
            </div>

            <div class="col-block item-feature">
                <div class="item-feature__icon">
                <i class="fa fa-female"></i>
                </div>
                <div class="item-feature__text">
                    <h3 class="item-title">You can use seductx for free </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                </div>
            </div>

            <div class="col-block item-feature">
                <div class="item-feature__icon">
                    <i class="fa fa-times-circle"></i>
                </div>
                <div class="item-feature__text">
                    <h3 class="item-title">No restrictions</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                </div>
            </div>

            <div class="col-block item-feature">
                <div class="item-feature__icon">
                    <i class="far fa-clock"></i>
                </div>
                <div class="item-feature__text">
                    <h3 class="item-title">Unlimited time online</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                </div>
            </div>

            <div class="col-block item-feature">
                <div class="item-feature__icon">
                    <i class="fa fa-clipboard-list"></i>
                </div>
                <div class="item-feature__text">
                    <h3 class="item-title">Unlimited Bookings</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                </div>
            </div>

            <div class="col-block item-feature">
                <div class="item-feature__icon">
                    <i class="fa fa-star"></i>
                </div>
                <div class="item-feature__text">
                    <h3 class="item-title">Client status and rating</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                </div>
            </div>

        </div> <!-- end features -->
  </section>
<section id="" class="s-home mini-slide premium-banner">

        <div class="shadow-overlay"></div>
            <div class="row home-content__main">
                <div class="col-twelve text-center mb-40">
                    <h1>
                    Become a Premium Escort
                    </h1>
                    <p class="text-white"> Create your news account and earn money </p>

                     <div class="item-plan__bottom-part">
                        <a class="btn btn--primary large mb-0" routerLink="/escort/subscriptionPlan">Buy Premium</a>
                    </div>

                </div> <!-- end home-content__left-->

        </div> <!-- end home-content -->

    </section>

    <section id="pricing" class="s-pricing target-section py-md-rspn-30">

        <div class="row section-header align-center" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-2 mb-sm-rspn-0">
                   Tips
                </h1>

            </div>
        </div> <!-- end section-header -->

        <div class="row plans block-full mt-10px-600">
            <div class="gutter-none">
            <div class="col-six item-plan w-sm-100rspn" data-aos="fade-up">
                <h4 class="mt-0 font-20-rspn-600"><i class="fa fa-check purple-icon"></i>  Get good rates and positive comments</h4>
            </div> <!-- six item-plan -->

            <div class="col-six item-plan w-sm-100rspn" data-aos="fade-up">
                <h4 class="mt-0 font-20-rspn-600"><i class="fa fa-check purple-icon"></i> Only go online when available</h4>
            </div> <!-- six item-plan -->

            <div class="col-six item-plan w-sm-100rspn" data-aos="fade-up">
                <h4 class="mt-0 font-20-rspn-600"><i class="fa fa-check purple-icon"></i> Fill in all your rates</h4>
            </div> <!-- six item-plan -->

            <div class="col-six item-plan w-sm-100rspn" data-aos="fade-up">
                <h4 class="mt-0 font-20-rspn-600"><i class="fa fa-check purple-icon"></i> Use clear and accurate photos</h4>
            </div> <!-- six item-plan -->

            <div class="col-six item-plan w-sm-100rspn" data-aos="fade-up">
                <h4 class="mt-0 font-20-rspn-600"><i class="fa fa-check purple-icon"></i> Fill in your profile and services correctly</h4>
            </div> <!-- six item-plan -->

            <div class="col-six item-plan w-sm-100rspn" data-aos="fade-up">
                <h4 class="mt-0 font-20-rspn-600"><i class="fa fa-check purple-icon"></i> Always press 'start' when on your way to a client</h4>
            </div> <!-- six item-plan -->

            <div class="col-six item-plan w-sm-100rspn" data-aos="fade-up">
                <h4 class="mt-0 font-20-rspn-600"><i class="fa fa-check purple-icon"></i> Inform clients when you are running late</h4>
            </div> <!-- six item-plan -->

            <div class="col-twelve item-plan mb-40" data-aos="fade-up">
                <p>You can contact us via the app support link, or via email address:</p>
                <h3 class="mt-0 font-20-rspn-600"><i class="fa fa-envelope purple-icon"></i>  Free Booking</h3>
            </div> <!-- six item-plan -->

            </div> <!-- gutter none -->

        </div> <!-- end plans -->

    </section> <!-- end s-pricing -->

    <!-- footer
    ================================================== -->
    <app-footer></app-footer>
    <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->

</body>
