<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SeductX</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->

    <!-- script
    ================================================== -->

</head>

<body id="top" style="background-color: #ffffff">

    <!-- preloader
    ================================================== -->
    <!-- <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->


<!-- booking form -->
    <div class="popup-inner">
         <div class="logo-fix"><a href="index.html"><img src="assets/images/logo_black.png" class="img-responsive"></a></div>
    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>

    <div class="city-tab mt-60px" id="id2">
        <h2 class="booking-title text-center text-pink mb-40">Book an Escort</h2>
        <h4 class="text-center mt-0 mb-40"> Select your City</h4>
        <div class="screen__container">
            <a class="litem" (click)="onClick('SYDNEY')" [ngClass]="{active: isActive('SYDNEY')}"><div class="litem__title">SYDNEY</div>
                <i class="fa fa-arrow-right litem__icon"></i>
            </a>
            <a class="litem" (click)="onClick('MELBOURNE')" [ngClass]="{active: isActive('MELBOURNE')}"><div class="litem__title">MELBOURNE</div>
                <i class="fa fa-arrow-right litem__icon"></i>
            </a>
            <a class="litem" (click)="onClick('BRISBANE')" [ngClass]="{active: isActive('BRISBANE')}"><div class="litem__title">BRISBANE</div>
                <i class="fa fa-arrow-right litem__icon"></i>
            </a>
            <a class="litem" (click)="onClick('GOLD COAST')" [ngClass]="{active: isActive('GOLD COAST')}"><div class="litem__title">GOLD COAST</div>
                <i class="fa fa-arrow-right litem__icon"></i>
            </a>
            <a class="litem" (click)="onClick('ADELAIDE')" [ngClass]="{active: isActive('ADELAIDE')}"><div class="litem__title">ADELAIDE</div>
                <i class="fa fa-arrow-right litem__icon"></i>
            </a>
            <a class="litem" (click)="onClick('CANBERRA')" [ngClass]="{active: isActive('CANBERRA')}"><div class="litem__title">CANBERRA</div>
                <i class="fa fa-arrow-right litem__icon"></i>
            </a>
            <a class="litem" (click)="onClick('NEWCASTLE')" [ngClass]="{active: isActive('NEWCASTLE')}"><div class="litem__title">NEWCASTLE</div>
                <i class="fa fa-arrow-right litem__icon"></i>
            </a>

        </div>
        <div class="btn-sec d-flex justify-around">
            <button class="btn btn-previous" routerLink="/user/filtercountry"> Back </button>
            <button class="btn btn--primary btn-next" (click)="onSaveFilter()"> Next </button>
        </div>
    </div> <!-- city box -->
    </div>
</body>
