<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SeductX</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->


    <!-- script
    ================================================== -->

</head>

<body id="top" style="background-color: #ffffff">

    <!-- preloader
    ================================================== -->
    <!-- <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->


<!-- booking form -->
    <div class="popup-inner">
         <div class="logo-fix"><a href="index.html"><img src="assets/images/logo_black.png" class="img-responsive"></a></div>
    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
        <div class="country-tab mt-60px" id="id1">
        <h2 class="booking-title text-center text-pink mb-40">Book an Escort</h2>
        <h4 class="text-center mt-0 mb-40"> Select your country</h4>
        <div class="screen__container">
            <a class="litem" (click)="onClick('AUSTRALIA')" [ngClass]="{active: isActive('AUSTRALIA')}"><div class="litem__title">AUSTRALIA</div>
                <i class="fa fa-arrow-right litem__icon"></i>
            </a>
        </div>
        <div class="btn-sec w-100 text-right">
             <button class="btn btn--primary btn-next" (click)="onSaveFilter()"> Next </button>
        </div>

    </div> <!-- country box -->
    </div>

</body>
