<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SeductX</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->



    <!-- script
    ================================================== -->


</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- filter form -->
<div class="popup" data-popup="popup-4">
    <div class="popup-inner">

    <div class="cancel-box">
       <h2 class="booking-title text-center text-pink mb-40">Filter</h2>
            <div class="screen__container">
            <div class="col-twelve">
                        <label for="">Agency</label>
                            <div class="ss-custom-select">
                            <select class="full-width" id="sampleRecipientInput">
                                <option selected="" value="">Any agency</option>
                                <option value="">Agency title 1</option>
                                <option value="">Agency title 2</option>
                                <option value="">Agency title 3</option>
                                <option value="">Agency title 4</option>
                                <option value="">Agency title 5</option>
                                <option value="">Agency title 6</option>
                                <option value="">Agency title 7</option>
                                <option value="">Agency title 8</option>
                            </select>
                </div>
            </div> <!-- col-twelve -->

            <div class="col-twelve">
                        <label for="">Age</label>
                            <div class="ss-custom-select">
                            <select class="full-width" id="sampleRecipientInput">
                                <option selected="" value="">Any age</option>
                                <option value="">18-23</option>
                                <option value="">24-29</option>
                                <option value="">30-35</option>
                                <option value="">35+</option>
                            </select>
                </div>
                            <div class="d-flex align-items-center ml-5">
                                <div>
                                <input class="styled-checkbox" id="styled-checkbox-12" type="checkbox" value="value12">
                                <label for="styled-checkbox-12"></label>
                                </div>
                                <div class="ml-20">
                                    <label for="" class="mini-label">Show verified age only?</label>
                                </div>

                            </div>
            </div> <!-- col-twelve -->

            <div class="col-twelve">
                        <label for="">Height</label>
                            <div class="ss-custom-select">
                            <select class="full-width" id="sampleRecipientInput">
                                <option selected="" value="">Any height</option>
                                <option value="">Short (< 156cm)</option>
                                <option value="">Average (156cm-165cm)</option>
                                <option value="">Tall (> 165cm)</option>
                            </select>
                </div>
            </div> <!-- col-twelve -->

            <div class="col-twelve">
                        <label for="">Body type</label>
                            <div class="ss-custom-select">
                            <select class="full-width" id="sampleRecipientInput">
                                <option selected="" value="">Any body type</option>
                                <option value="">Slim</option>
                                <option value="">Average</option>
                                <option value="">Athletic</option>
                                <option value="">Curvy</option>
                            </select>
                </div>
            </div> <!-- col-twelve -->

            <div class="col-twelve">
                        <label for="">Cup size</label>
                            <div class="ss-custom-select">
                            <select class="full-width" id="sampleRecipientInput">
                                <option selected="" value="">Any size</option>
                                <option value="">A</option>
                                <option value="">B</option>
                                <option value="">C</option>
                                <option value="">D</option>
                                <option value="">D+</option>
                                <option value="">E</option>
                            </select>
                </div>
            </div> <!-- col-twelve -->

            <div class="text-center">
                        <h3 class="mb-40 text-black"> Services  </h3>
                    </div>
                    <div class="gutter-none">
                        <div class="col-six">
                            <div class="list-box d-flex justify-around">
                                <div>
                                    <label for="" class="mini-label">BBBJ</label>
                                    <p class="small"> Bare back blow job </p>
                                </div>
                                <div>
                                <input class="styled-checkbox" id="styled-checkbox-10" type="checkbox" value="value10">
                                <label for="styled-checkbox-10"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-six">
                        <div class="list-box d-flex justify-around">
                            <div>
                                <label for="" class="mini-label">CIM</label>
                                <p class="small"> Cum in mouth </p>
                            </div>
                            <div>
                            <input class="styled-checkbox" id="styled-checkbox-11" type="checkbox" value="value11">
                            <label for="styled-checkbox-11"></label>
                            </div>
                        </div>
                    </div>
                    </div> <!-- gutter none -->


                    <div class="gutter-none">
                        <div class="col-six">
                            <div class="list-box d-flex justify-around">
                                <div>
                                    <label for="" class="mini-label">COB</label>
                                    <p class="small"> Cum on body </p>
                                </div>
                                <div>
                                <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                                <label for="styled-checkbox-1"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-six">
                        <div class="list-box d-flex justify-around">
                            <div>
                                <label for="" class="mini-label">COF</label>
                                <p class="small"> cum on face </p>
                            </div>
                            <div>
                            <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2">
                            <label for="styled-checkbox-2"></label>
                            </div>
                        </div>
                    </div>
                    </div> <!-- gutter none -->

                    <div class="gutter-none">
                        <div class="col-six">
                            <div class="list-box d-flex justify-around">
                                <div>
                                    <label for="" class="mini-label">DATY</label>
                                    <p class="small"> Receives oral sex  </p>
                                </div>
                                <div>
                                <input class="styled-checkbox" id="styled-checkbox-3" type="checkbox" value="value3">
                                <label for="styled-checkbox-3"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-six">
                        <div class="list-box d-flex justify-around">
                            <div>
                                <label for="" class="mini-label">DFK</label>
                                <p class="small"> Deep french kissing </p>
                            </div>
                            <div>
                            <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value4">
                            <label for="styled-checkbox-4"></label>
                            </div>
                        </div>
                    </div>
                    </div> <!-- gutter none -->


                    <div class="gutter-none">
                        <div class="col-six">
                            <div class="list-box d-flex justify-around">
                                <div>
                                    <label for="" class="mini-label">Full Service</label>
                                    <p class="small"> Full protected sex </p>
                                </div>
                                <div>
                                <input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="value5">
                                <label for="styled-checkbox-5"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-six">
                        <div class="list-box d-flex justify-around">
                            <div>
                                <label for="" class="mini-label">Guide</label>
                                <p class="small"> Travel guide </p>
                            </div>
                            <div>
                            <input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" value="value6">
                            <label for="styled-checkbox-6"></label>
                            </div>
                        </div>
                    </div>
                    </div> <!-- gutter none -->


                    <div class="gutter-none">
                        <div class="col-six">
                            <div class="list-box d-flex justify-around">
                                <div>
                                    <label for="" class="mini-label">Lesbian</label>
                                    <p class="small"> Lesbian </p>
                                </div>
                                <div>
                                <input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" value="value7">
                                <label for="styled-checkbox-7"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-six">
                        <div class="list-box d-flex justify-around">
                            <div>
                                <label for="" class="mini-label">Massage</label>
                                <p class="small"> Massage </p>
                            </div>
                            <div>
                            <input class="styled-checkbox" id="styled-checkbox-8" type="checkbox" value="value8">
                            <label for="styled-checkbox-8"></label>
                            </div>
                        </div>
                    </div>
                    </div> <!-- gutter none -->


                    <div class="gutter-none">
                        <div class="col-six">
                            <div class="list-box d-flex justify-around">
                                <div>
                                    <label for="" class="mini-label">Rimming</label>
                                    <p class="small"> Gives rimming </p>
                                </div>
                                <div>
                                <input class="styled-checkbox" id="styled-checkbox-9" type="checkbox" value="value9">
                                <label for="styled-checkbox-9"></label>
                                </div>
                            </div>
                        </div>

                    </div> <!-- gutter none -->



            <div class="col-twelve">
        <div class="btn-sec d-flex justify-around">
            <button class="btn btn-previous" data-popup-close="popup-4"> Cancel </button>
            <a href=""><button class="btn btn--primary btn-next" data-popup-close="popup-4"> Search </button></a>
        </div>
    </div>
    </div>
    </div>
</div>

    <a class="popup-close" data-popup-close="popup-4" href="#">x</a>
</div>
<!-- cancel form -->

    <!-- header
    ================================================== -->
    <app-navigation></app-navigation>
    <!-- end header -->


    <!-- home
    ================================================== -->
    <section id="" class="s-home mini-slide search-bg">

    <div class="shadow-overlay"></div>
        <div class="row home-content__main mt-60px px-sm-0rspn">
            <div class="col-twelve">
                <h1 class="font-sm-26-rspn">
                {{totalEscorts}} {{gender}}s available
                </h1>

                <ul class="stats-tabs">
                <li><a href="#">{{city}}<em>Location</em></a></li>
                <li><a href="#">{{gender}}<em>Gender</em></a></li>
                <li><a href="#">{{time| date:'h:mm a'}}<em>Today time</em></a></li>
                <li><a href="#">{{hour}} hr<em>Booking for</em></a></li>
            </ul>
            </div> <!-- end home-content__left-->

    </div> <!-- end home-content -->

    </section>
    <!-- end s-home -->

<section id="features" class="s-features search escort">

        <div class="row block-1-3 block-m-1-2 has-bottom-sep aos-init aos-animate px-sm-rspns-18" data-aos="fade-up">
                <div class="custom-tab w-100">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/user/searchonline">Online</a>
                          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/user/searchoffline">Offline</a>
                          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/user/searchfavourite">Favourites</a>
                        </div>
                     </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active">
                    <div class="row">
                        <div class="block-1-3 w-100">
                            <div class="col-block">
                        <div class="ss-custom-select">
                            <select class="full-width" id="sampleRecipientInput" (change)="onChangeSorting($event.target.value)">
                                <option value="Option 1" selected="selected" disabled="disabled">Short by</option>
                                <option  [value]="1">Price (Low to high)</option>
                                <option  [value]="2">Price (High to Low)</option>
                                <option  [value]="3">Rating</option>
                                <option  [value]="4">Distance</option>
                            </select>
                        </div>
                    </div>
                    <div class="pull-right text-right">
                        <div class="pull-right">
                        <a  routerLink="/user/filtersearch" class="btn btn-previous btn-wd">Filter</a>
                        </div>
                    </div>
                    <div class="pull-right text-right">
                      <div class="pull-right">
                        <a  (click)="resetFilter()" class="btn btn-previous btn-wd">Reset</a>
                        </div>
                    </div>
                        </div>
                    </div>
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                    <div class="row" *ngIf="escorts.length > 0 && !isLoading">
                      <div class="col-six w-md-100rspn"  *ngFor="let escort of escorts">
                          <div class="border-box position-relative mt-md-rspn-0 mb-md-rspn-0">
                          <img [src]="escort.profile_image" class="img-responsive">
                          <div class="p-15 pb-0">
                              <div class="row">
                                  <div class="col-six">
                                      <h4> {{escort.first_name}} <span class="small">({{escort.age}} years old)</span> </h4>
                                  </div>
                                  <div class="col-six text-right">
                                    <div class="yellow-rate">
                                      <ngb-rating [rate]="escort.avg_rating" max="5" [readonly]="true"></ngb-rating>
                                    </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-six">
                                      <p> <span>{{escort.height}} cm</span> &nbsp; <span>{{escort.body_type_name}}</span> </p>
                                  </div>
                                  <div class="col-six text-right">
                                    <p> {{escort.agency}} </p>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-twelve">
                                    <p><i class="fa fa-location"></i>{{escort.distance| number}} km away</p>
                                  </div>
                              </div>

                              <div class="">
                                  <div class="w-50 pull-left text-left">
                                      <h3> {{escort.amount| currency : 'AUD' : true : '4.0'}}/<span class="small">({{escort.hour_time}}h)</span> </h3>
                                  </div>
                                  <div class="w-50 pull-right text-right">
                                        <a  type="button" *ngIf="escort.request_status == '2'" class="btn btn--primary btn-next" [routerLink]="['/user/escortProfile', escort.escort_id]"><strong> Book Now </strong></a>
                                        <!-- <a  type="button"  class="btn btn--primary btn-next" [routerLink]="['/user/escortProfile', escort.escort_id]"><strong> Book Now </strong></a> -->

                                  </div>
                              </div>


                          </div>
                          <div class="share-box d-flex">
                              <a href="javascript:void(0)" (click)="addFollow(escort.escort_id,'1')" *ngIf="escort.followStatus == '0' && subscriptionStatus == '1'"><div class="circle-icon"> <i class="fa fa-plus-square"></i> </div> </a>
                              <a href="javascript:void(0)" (click)="addFollow(escort.escort_id,'2')" *ngIf="escort.followStatus == '1' && subscriptionStatus == '1'"><div class="circle-icon"> <i class="fa fa-user-plus"></i> </div> </a>
                              <a href="javascript:void(0)" (click)="addFavourate(escort.escort_id,'1')" *ngIf="escort.favouriteStatus == '0'"><div class="circle-icon"> <i class="far fa-heart"></i> </div> </a>
                              <a href="javascript:void(0)" (click)="addFavourate(escort.escort_id,'2')" *ngIf="escort.favouriteStatus == '1'"><div class="circle-icon"> <i class="fa fa-heart"></i> </div> </a>
                              <a href="javascript:void(0)" (click)="openModal(template, escort.escort_id , escort.profile_image)"><div class="circle-icon"> <i class="fa fa-share"></i> </div></a>

                          </div>
                          </div>
                      </div> <!-- col six -->






                 </div> <!--tab closed -->
                 <h2  *ngIf="escorts.length <= 0 && !isLoading">No Data Available!</h2>
                 <mat-paginator [length]="totalEscorts" [pageSize]="escortsPerPage"  (page)="onChangedPage($event)"
*ngIf="escorts.length > 0"></mat-paginator>
                    </div>
                </div>
            </div>
        </div> <!-- end section-header -->

    </section>

    <!-- footer
    ================================================== -->
    <app-footer></app-footer>
    <!-- end s-footer -->

    <ng-template #template>
      <div class="modal-header">
         <h4 class="modal-title pull-left mt-0">Share</h4>
         <button type="button" class="close pull-right" aria-label="close" (click)="modalRef.hide()">
         <i class="fa fa-times" aria-hidden="true"></i>
         </button>
      </div>
      <div class="modal-body px-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col mt-10 line-height-20">
                <app-tweet></app-tweet>
              </div>
              <div class="col mt-10 line-height-20">
                <app-pin-it></app-pin-it>
              </div>
              <div class="col mt-10 line-height-20">
                  <app-fb-like></app-fb-like>
              </div>
              <div class="col mt-10 line-height-20">
                <app-linkedin></app-linkedin>
              </div>
          </div>
         <div class="row">

            <div class="col-six text-center mt-5">
               <button _ngcontent-myi-c1="" class="btn btn-previous red-border full-width" data-dismiss="modal" (click)="modalRef.hide()"> Close </button>
            </div>
         </div>
      </div>
   </ng-template>
</body>
