<!DOCTYPE html>
<html class="no-js" lang="en">
   <head>
      <!--- basic page needs
         ================================================== -->
      <meta charset="utf-8">
      <title>SeductX</title>
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- mobile specific metas
         ================================================== -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- CSS
         ================================================== -->
      <!-- script
         ================================================== -->
   </head>
   <body id="top">
      <!-- preloader
         ================================================== -->
      <!-- <div id="preloader">
         <div id="loader" class="dots-jump">
             <div></div>
             <div></div>
             <div></div>
         </div>
         </div> -->
      <!-- cancel form -->
      <div class="popup" data-popup="popup-2">
         <div class="popup-inner">
            <div class="cancel-box">
               <h2 class="booking-title text-center text-pink mb-40">What is the reason of cancelling?</h2>
               <div class="screen__container">
                  <label class="radio-item">Client did not respond after i arrived
                  <input type="radio" checked="checked" name="radio">
                  <span class="checkmark"></span>
                  </label>
                  <label class="radio-item">I am not available
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
                  <label class="radio-item">Location is too far
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
                  <label class="radio-item">Unable to verify/check client
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
                  <label class="radio-item">This is duplicate booking
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
                  <label class="radio-item">Unable to contact client
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
                  <label class="radio-item">Cannot accommodate extra request(s)
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
                  <label class="radio-item">Client cancelled before i arrived
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
                  <label class="radio-item">Client cancelled after i arrived
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
                  <label class="radio-item">Other
                  <input type="radio" name="radio">
                  <span class="checkmark"></span>
                  </label>
               </div>
               <div class="btn-sec d-flex justify-around">
                  <button class="btn btn-previous" data-popup-close="popup-2"> Abort </button>
                  <a href=""><button class="btn btn--primary btn-next" data-popup-close="popup-2"> Ok </button></a>
               </div>
            </div>
         </div>
         <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
      </div>
      <!-- cancel form -->
      <!-- support form -->
      <div class="popup" data-popup="popup-3">
         <div class="popup-inner">
            <div class="cancel-box">
               <h2 class="booking-title text-center text-pink mb-40"> Send your message</h2>
               <div class="screen__container">
                  <label for="">Your message</label>
                  <textarea class="full-width" id="" rows="8" placeholder="comment here..">
                  </textarea>
               </div>
               <div class="btn-sec d-flex justify-around">
                  <button class="btn btn-previous" data-popup-close="popup-3"> Cancel </button>
                  <a href=""><button type="Submit" class="btn btn--primary btn-next" data-popup-close="popup-3"> Submit </button></a>
               </div>
            </div>
         </div>
         <a class="popup-close" data-popup-close="popup-3" href="#">x</a>
      </div>
      <!-- support form -->
      <!-- header
         ================================================== -->
            <app-navigation></app-navigation>
      <!-- end header -->
      <!-- home
         ================================================== -->
      <section id="" class="s-home mini-slide search-bg">
         <div class="shadow-overlay"></div>
         <div class="row">
            <div class="col-twelve text-center mb-40">
               <h1>
                  Success
               </h1>

               <!-- <div class="onoffswitch mx-auto">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                      <label class="onoffswitch-label" for="myonoffswitch">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
                  </div> -->
            </div>
         </div>
         <!-- end home-content -->
      </section>
      <!-- end s-home -->
      <section id="features" class="s-features search escort">

        <div class="text-center h-440">
        <p class="text-center mb-15"> <i class="fa fa-check-circle green-txt font-72"></i> </p>
        <h3 class="text-center">  Your plan has been succesfully subscribed  </h3>
        </div>

    </section>
      <!-- footer
         ================================================== -->
      <app-footer></app-footer>
      <!-- end s-footer -->
   </body>
