<header class="s-header">
  <div class="row">
    <div class="header-logo">
      <a class="site-logo"routerLink="/">
          <img src="assets/images/logo.png" alt="Homepage">
      </a>
    </div>

    <nav class="header-nav-wrap" [ngClass]="{'mobile': active}">
      <ul class="header-main-nav">
          <li routerLinkActive="current"><a routerLink="/escort/request"> Requests</a></li>
          <li routerLinkActive="current"><a routerLink="/escort/booking">Upcoming Bookings</a></li>
          <li routerLinkActive="current"><a routerLink="/escort/premiumescort">Premium Escort</a></li>
          <li routerLinkActive="current"><a routerLink="/escort/support">Support</a></li>
      </ul>

      <div class="header-cta">
        <a routerLink="/escort/subscriptionPlan" class="btn btn--primary header-cta__btn">Buy Premium</a>
        <div class="dropdown">
          <li  class="dropdown" appDropdown><span class="drop-btn" ><img [src]="profileImage" class="mini-profile"> {{email}} <span class="fa fa-chevron-down small"></span></span>
            <div class="dropdown-content current">
              <a routerLink="/escort/profile">My Profile</a>
              <a (click) = "onLogout()">Logout</a>
            </div>
          </li>
        </div>

      </div>
    </nav>

    <a class="header-menu-toggle" (click)="toggleClass()"
    [ngClass]="{'is-clicked': active}" href="javascript:void(0)"><span>Menu</span></a>
  </div>
</header>
